
@using MobileStore.Models.ViewModels;

@{
    ViewBag.Title = "CheckOutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckOutDetails</h2>
<hr />

@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <h4>Empty Here</h4>
    </div>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                
            </tr>
        </thead>
        <tbody>
           @{
            int Total=0;
            }
            @foreach (Item item in (List<Item>)Session["cart"])
            {
                int sum = Convert.ToInt32(item.Quantity * item.Product.Price);
                Total = Convert.ToInt32(Total + sum);
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Product.Price
                    </td>
                    <td>@item.Quantity</td>
                    
                </tr>
            }
            <tr class="text-center" >
                <td colspan="3" style="color:black">Total:@Total </td>
            </tr>

        </tbody>
    </table>
    <a class="btn btn-success" href="#">Pay</a>
}